{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "proseWrap": "always",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}